
.shopping-cart{
    align-content: center;
}

.row{
    background-color: rgb(224, 230, 221);
}
.product{
    display:flex;
    flex-wrap: wrap;
    margin: 1%;
    padding: 1%;
    
}

.product-details{
    flex:2;
   
}

.product-image{
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.product-price{
    flex:1;
}
.product-remove{
    flex:1;
    align-items: left;
}

.product-title{
    text-align: left;
    padding-bottom: 4%;
    margin:0;
}
.product-description{
    text-align: left;
    margin:0;
}

.totals-value{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    font-size: 20px;
    text-align: right;
}

.remove{
    padding: 10% 5%;
    margin-right: 20%;
    background-color: white;
}

.checkout{
    float: right;
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 0.6em;
    color: #234331;
    font-size: 20px;
    padding: 1% 1%;

}

.checkout:hover{
    box-shadow: 0 0 40px 40px #A2AE79 inset;
}

