/* fonts */

h5 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-top: 2%;
  }
  
  h6 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(27, 27, 27);
    font-size: 20px;
  }

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}
  
a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
  }

  a:hover {
    color: rgb(21, 8, 34);
  }

  .allItems{
    background-color: rgb(255, 255, 255);
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-bottom: 5%;
  }
  
  .product-image {
    width: 80%;
    height: 80%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  button{
    background-color: bisque;
    margin: 5%;
  }
  
#items{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50%;
  column-gap: 1%;
  text-align: center;
  margin: 5%;
  
}


